
body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f9;
  margin: 0;
  padding: 0px;
}

.contenedor {
  max-width: 800px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 px 0px 12px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  color: #004085;
}

.tabs {
  display: flex;
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px 8px 0 0;
  background-color: #e9ecef;
  margin-right: 10px;
}

.tab.active {
  background-color: #fff;
  border-bottom: 2px solid white;
  font-weight: bold;
}

.contenido-tab {
  display: none;
}

.contenido-tab.active {
  display: block;
}

.info p {
  font-size: 1.1rem;
  margin: 10px 0;
}

.info strong {
  color: #333;
}

.volver {
  display: block;
  margin-top: 30px;
  text-align: center;
}

.volver a {
  text-decoration: none;
  background-color: #004085;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
}

.volver a:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 10px;
  text-align: left;
}

.subir-doc {
  margin-top: 20px;
}

.subir-doc input[type="file"] {
  display: block;
  margin-top: 10px;
}

.subir-doc button {
  margin-top: 10px;
  background-color: #004085;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.subir-doc button:hover {
  background-color: #0056b3;
}

.btn-subir {
  background-color: #0077cc;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-subir:hover {
  background-color: #005fa3;
}

.fa-edit {
font-size: 18px;
color: #007bff;
cursor: pointer;
margin-left: 10px;
}
/*Estilos del modal*/
.modal {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.5);
justify-content: center;
align-items: center;
}

.modal-content {
background-color: white;
padding: 20px;
border-radius: 10px;
width: 300px;
text-align: center;
}

.close {
cursor: pointer;
font-size: 20px;
float: right;
}
