body {
    font-family: Arial, sans-serif;
    background: url('fondo2.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 50px;
    font-size: 28px;
    color: #ffffff;
    font-weight: bold;
}

form {
    background: rgba(255, 255, 255, 0.2);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    max-width: 350px;
    margin: auto;
    margin-top: 40px;
    backdrop-filter: blur(10px);
}

label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-top: 15px;
    color: #000000;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    font-size: 14px;
}

input:focus {
    outline: 2px solid #004080;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #004080;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

button:hover {
    background-color: #002d5a;
    transform: scale(1.05);
}

#backToLogin {
    display: inline-block;
    margin-top: 15px;
    color: #00aaff;
    text-decoration: none;
    font-weight: bold;
}

#backToLogin:hover {
    text-decoration: underline;
}

/* Contenedor del logo */
.login-logo {
    text-align: center;
    margin-bottom: 15px;
}

/* Estilo de la imagen del logo */
.login-logo img {
    width: 60px; /* Ajusta el tamaño según necesites */
    height: auto;
    border-radius: 8px; /* Bordes redondeados opcionales */
}



/* Estilos para el footer */
footer {
    background-color: #2c3e50; /* Fondo oscuro */
    color: #fff; /* Texto en blanco */
    padding: 10px 0; /* Espaciado interno vertical */
    text-align: center; /* Centra el texto */
}

.footer-links a {
    color: #d9534f; /* Color rojo para los enlaces */
    text-decoration: none; /* Elimina el subrayado */
    margin: 0 10px; /* Margen horizontal */
    font-weight: bold; /* Texto en negrita */
}

.footer-links a:hover {
    text-decoration: underline; /* Subraya el texto al pasar el mouse */
}

.btn-ayuda {
    background-color: #3498db; /* Fondo azul */
    color: white; /* Texto en blanco */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    margin-top: 10px; /* Margen superior */
    cursor: pointer; /* Cambia el cursor a una mano al pasar el mouse */
    border-radius: 5px; /* Bordes redondeados */
}

.btn-ayuda:hover {
    background-color: #2980b9; /* Fondo azul más oscuro al pasar el mouse */
}

.footer a {
    color: #f1c40f; /* Color amarillo para los enlaces */
    text-decoration: none; /* Elimina el subrayado */
}
